{% extends 'base.html.twig' %}

{% block title %}Search for cities{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('javascript/search.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <!--div class="input-group shadow mt-4">
                <input type="text" class="form-control rounded-pill" onkeyup="showSuggestions(this.value)">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search"
                             viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </div-->
            {{ form_start(form) }}
            <div class="input-group shadow mt-4">
                {{ form_row(form.city, {'attr': {'class': 'form-control', 'onkeyup': 'showSuggestions(this.value)'}}) }}
                <div class="input-group-append">
                    {{ form_row(form.search, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="row justify-content-center">
            <ul class="list-group shadow" id="suggestions">
            </ul>
        </div>
    </div>
{% endblock %}
